<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="images/ico" href="/images/icon_website.ico" />
    <title>Hệ thống IoT</title>


    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/javascripts/chart.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/common.js"></script>
</head>

<body>

    <div class="wrapper">
        <div class="container wrapper">
            <!--Bắt đầu phần header-->
            <%- include ../public/commonhtml/header.html %>
            <!--Kết thúc phần header-->

            <!--Bắt đầu phần nav-->
            <%- include ../public/commonhtml/nav.html %>

            <!--Kết thúc phần nav-->


            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="title">Vi điều khiển A <label id="statusVdkA" class="circle"></label></label> 
                    <div class="content">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>CẢM BIẾN DHT11</th>
                                    <th><label  id="statusVdkASensor" class="circle"></label></th>
                                </tr>
                                <tr>
                                    <th>LED</th>
                                    <th><label id="statusVdkALed" class="circle"></label></th>
                                </tr>
                                <tr>
                                    <th>TIN NHẮN</th>
                                    <th id="statusVdkAMsg"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <hr>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <label class="title">Vi điều khiển B <label id="statusVdkB" class="circle"></label></label> 
                    <div class="content">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>CẢM BIẾN DHT11</th>
                                    <th><label id="statusVdkBSensor" class="circle"></label></th>
                                </tr>
                                <tr>
                                    <th>LED</th>
                                    <th><label id="statusVdkBLed" class="circle"></label></th>
                                </tr>
                                <tr>
                                    <th>TIN NHẮN</th>
                                    <th id="statusVdkBMsg"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div  style="margin-left: 10px;width: 100%;text-align: center; font-size: 16px;font-weight: bold;margin-bottom: 2px"><span class="dateCurrent ">Time</span></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <!--Bắt đầu cảm biến 1-->
                    <article class="sensor" id="sensor1">
                        <label class="readSensor" style="margin-left: 160px">Nhiệt độ: <span class="valueSensor" id="tempSensor1" style="color: #EC870E"></span>
                            °C</label>
                        <label class="readSensor" style="margin-left: 20px">Độ ẩm: <span class="valueSensor" id="humiSensor1" style="color: #205AA7"></span>
                            %</label>
                        <div class="chart-container">
                            <canvas id="line-chartcanvasTemp1"></canvas>
                            <canvas id="line-chartcanvasHumi1"></canvas>
                        </div>
                    </article>
                    <!--Kết thúc cảm biến 1-->
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <article class="sensor" id="sensor2">
                        <label class="readSensor" style="margin-left: 160px">Nhiệt độ: <span class="valueSensor" id="tempSensor2" style="color: #EC870E"></span>
                            °C</label>
                        <label class="readSensor" style="margin-left: 20px">Độ ẩm: <span class="valueSensor" id="humiSensor2" style="color: #205AA7"></span>
                            %</label>
                        <div class="chart-container">
                            <canvas id="line-chartcanvasTemp2" ></canvas>
                            
                            <canvas id="line-chartcanvasHumi2"></canvas>
                        </div>
                    </article>
                    <!--Kết thúc cảm biến 2-->
                </div>
            </div>
            <!--Bắt đầu cảm biến 2-->

            <!--Bắt đầu cảm footer-->
            <%- include ../public/commonhtml/footer.html %>
            <!--Kết thúc footer-->
        </div>
    </div>

</body>

</html>